
body {
  font-family: -apple-system, "Roboto", "Helvetica Neue", "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "メイリオ", "Osaka", "MS PGothic", arial, sans-serif;
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
}


#osakana_list tr {
  font-size: 13px;
  border-bottom: 1px solid rgba(31, 45, 60, .1);
}

#osakana_list td,
#osakana_list th {
  height: 45px;
  vertical-align: middle;
}
#osakana_list td.hints {
  white-space: nowrap;
}

#osakana_list a {
  color: #0366d6;
  text-decoration: none;
}

.bg {
  /*位置の設定*/
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  /*背景画像の設定*/
  background: url(images/bg_natural_umi.png) bottom right no-repeat;
  background-color: #B4E0FB;

  /*透過の設定*/
  opacity: 1;
  z-index: -2;
}

.kani, .same, .kanban {
  height: 300px;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0px;
  z-index: -1;
  box-sizing: border-box;
}

.kani {
  background-image: url(images/umi_kani.png);
  background-position: center center;
  background-size: 300px;
  width: 300px;
  right: 0px;
}

@font-face {
  font-family: "Azuki";
  src: url(fonts/azuki.ttf) format("truetype");
}

.kanban {
  display: none;
  background-image: url(images/wood_kanban4.png);
  background-position: center -25px;
  background-size: 400px;
  width: 400px;
  right: 300px;
  padding: 54px 30px 100px 44px;
}

.kanban-close {
  position: absolute;
  top: 48px;
  right: 24px;
  width: 20px;
  height: 20px;
  background-image: url(images/mark_batsu.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.kanban header,
.kanban table td {
  font-family: Azuki;
  color: white;
  font-size: 15px;
  padding: 3px 5px;
}
.kanban header {
  font-size: 18px;
  margin-bottom: 5px;
}

.same {
  background-image: url(images/fish_shark.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 350px;
  width: 350px;
  left: 0px;
}

.sun {
  background-image: url(images/taiyou.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 200px;
  height: 200px;
  width: 200px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.kani-space {
  height: 0;
}

.frame {
  position: fixed;
  left: 15px;
  top: 30px;
  right: 15px;
  bottom: 15px;
  background-color: white;
  border-radius: 5px;
  opacity: 0.86;
  z-index: -1;
}

.kanban-visible .frame {
  bottom: 315px;
}
.kanban-visible .footer {
  height: 315px;
}
.kanban-visible .kani-space {
  height: 315px;
}
.kanban-visible .kanban {
  display: block;
  height: 315px;
}
.kanban-visible .kani,
.kanban-visible .same { 
  z-index: 10;
}
.kanban-visible .kanban { 
  z-index: 11;
}

.content {
  margin: 30px 15px 15px 15px;
  position: relative;
  z-index: 1;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  text-align: right;
  padding-right: 15px;
  box-sizing: border-box;
  line-height: 30px;
  overflow: hidden;
  z-index: 4;
  background-color: #B4E0FB;
}
.header .sun {
  height: 30px;
}

.footer {
  /*位置の設定*/
  width: 100%;
  height: 15px;
  position: fixed;
  bottom: 0;
  left: 0;

  /*背景画像の設定*/
  background: url(images/bg_natural_umi.png) bottom right no-repeat;

  /*透過の設定*/
  opacity: 1;
  z-index: 4;
}

.tablesorter-default {
  background-color: transparent !important;
}

.tablesorter-default td,
.tablesorter-default th {
  background-color: transparent !important;
  border-bottom: none !important;
}

/* 釣られたお魚さんは半透明になる */
.caught td {
  opacity: 0.5;
}
/* チェックの列は半透明にしない */
.caught td:first-child {
  opacity: 1;
}

.invisible {
  display: none;
}

a {
  vertical-align: middle;
}

.hatena {
  display: inline-block;
  background-image: url(images/mark_manpu04_question.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 1em;
  height: 1em;
  width: 1em;
  vertical-align: middle;
}

/* 釣り方ヒント　漁師アイコン */
.fisher-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 20px;
}

.hook {
  background-image: url(images/hook.png);
}

.powerful-hookset {
  background-image: url(images/powerful_hookset.png);
}

.precision-hookset {
  background-image: url(images/precision_hookset.png);
}

.mooch {
  background-image: url(images/mooch.png);
}

.intuition {
  background-image: url(images/intuition.png);
}

.bait {
  background-image: url(images/bait.png);
}

.fisheyes {
  background-image: url(images/fish_eyes.png);
}

.unavailable {
  opacity: 0.3;
}

/* チャンス表示 */
.local-time,
.eorzea-time {
  display: inline-block;
  vertical-align: middle;
}
.eorzea-time {
  margin-left: 5px;
  color: gray;
}